/* Premium Members Section */
.premium {
  margin-top: 60px;
  text-align: center;
}

.premium h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.premium-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.member {
  background: #111;
  padding: 15px 25px;
  border: 2px solid #fff;
  font-weight: bold;
  border-radius: 6px;
  font-size: 16px;
}
